<!DOCTYPE html>
<html>
<head>
  <title>Compra Realizada</title>
  <!-- Aquí va tu enlace a tus estilos CSS, si es necesario -->
</head>
<body>
  <h1>¡Compra Realizada!</h1>
  <p>Tu compra se ha realizado con éxito. ¡Gracias por tu pedido!</p>
  <!-- Puedes añadir más detalles sobre la compra si lo deseas -->
</body>
</html>
